{% load static %}
<footer>
    <img src="{% static 'img/logo.png' %}" alt="" width="90">
    <ul>
        <li><a href="https://www.flaticon.es/icono-gratis/foto_2488981?term=camera&page=1&position=14&origin=search&related_id=2488981">Diseñador logotipo: Flaticon</a></li>
        <li><a href="https://www.dafont.com/es/chen-yining.d6681">Louis George Café: Dafont</a></li>
        <li><a href="https://picsum.photos/">Picsum Photos</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'index' %}">Index</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="https://instagram.com/">Instagram</a></li>
    </ul>
    <ul>
        <li><a href="https://www.flaticon.es/icono-gratis/foto_2488981?term=camera&page=1&position=14&origin=search&related_id=2488981">Diseñador logotipo: Flaticon</a></li>
        <li><a href="https://www.dafont.com/es/chen-yining.d6681">Louis George Café: Dafont</a></li>
        <li><a href="https://picsum.photos/">Picsum Photos</a></li>
    </ul>
</footer>