{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Juango Ruiz - Fotógrafo</h1>
    <div class="about">
        <img src="https://picsum.photos/300/350" alt="Fografia">
        <div class="about-content">
            <h3>Lorem ipsin dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium corporis excepturi voluptatibus! Ab aliquam asperiores autem beatae, deleniti doloremque doloribus harum ipsa iste laborum necessitatibus nisi optio quidem quisquam.</p>
        </div>
    </div>
{% endblock %}